.card-wrapper{
    background-color: #363840;
    color: white;
    display: flex;
    margin-bottom:12px;
    padding: 12px;
}

.card-content{
    padding-left: 8px;
}

.category-wrapper{
    flex: 1;
    padding:0px 12px 0 0;
}

.category-wrapper ul{
    list-style: none;
}

.secondary-text{
    color:#79797a;
    font-size: 16px;
    margin: 4px 0;
}

.trailer-a{
    color: white;
    text-decoration: none;
}

.genre-text{
    font-size: 12px;
}

.genre-text ul li{
    display: inline;
    padding-right: 2px;
}

.genre-text ul li:first-child{
    list-style: none;
}

.movie-title-text{
    font-size: 20px;
}

.movie-title-text a{
    color: inherit;
    text-decoration: none;
}

.rating-text{
    font-size: 24px;
    margin: 0;
}

.category-title-text{
    text-align: center;
    color: white;
}

.error-text{
    color: white;
    justify-content: center;
    font-size: 24px;
}